<!DOCTYPE html>
<html class="no-js" lang ="EN">
    <head>
        <meta charset="utf-8" />
        <meta name="robots" content="noindex"> <!-- kill it when you are happy with it -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css') }}"  /> <!--Url???-->
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="Cloud technology samples ready to try out online with explanations, business benefits and related links">
        
        <!-- Fill in here to have strong infos when link is shared-->
        <meta property="og:title" content="">
        <meta property="og:type" content="">
        <meta property="og:url" content="">
        <meta property="og:image" content="">
        <!-- check favicon links -->
        <link rel="icon" href="{{ url_for('static', filename='icons/favicon.ico') }}" sizes="any">
        <link rel="manifest" href="{{ url_for('static', filename='icons/site.webmanifest') }}">


        <!-- Check URL and leverage best practice here
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/style.css"> 
        -->
        <meta name="theme-color" content="#fafafa">
    </head>

    <body>
        <div class="navbar">
            <a href="{{ url_for('home') }}" class="navbar-brand">Home</a>
            <a href="{{ url_for('about') }}" class="navbar-item">About</a>
            <a href="{{ url_for('contact') }}" class="navbar-item">Contact</a>
            <a href="{{ url_for('learn') }}" class="navbar-item">Learn</a>
        </div>

        <div class="body-content">
            {% block content %}
            {% endblock %}
            <hr/>
        </div>

        <div class="footer">
            <footer>
                <p>&copy; Gilberts Playground | 2023 </p>
            </footer>
        </div>
    </body>
</html>
