{% extends "layout.html" %}
{% block title %} 
Extract meta information from pictures to ease up search and sorting
{% endblock %}
{% block content %}
<H1>Translate a simple text</H1>
<p>Your employees work together in a site and struggle to hold conversations. A translation service enables communication.</p>
<p> Try it <a href="https://gptpython.azurewebsites.net/input-translate" class="navbar-brand">here.</a> </p>

<H1>Analyze a picture</H1>
<p>Let us assume you have a set of pictures and you want to have an index on the content of those pictures to ease up search or sorting of this set of pictures. 
Typical meta information of you pictures could be:</p>
<ul>    
    <li>Description of each picture</li>
    <li>Date</li> 
    <li>Location</li>
    <li>People</li>
    <li>Objects</li>
    <li>Events</li>
    <li>etc</li>
</ul>

{% endblock %}
