{% extends "layout.html" %}
{% block title %}
Sample translation service with Azure Cognitive Service, Flask and Python
{% endblock %}
{% block content %}
<div class="body-content">
    <h2>Results</h2>
        <div>
            <strong>Original text:</strong> {{ original_text }}
        </div>
        <div>
            <strong>Translated text:</strong> {{ translated_text }}
        </div>
        <div>
            <strong>Target language code:</strong> {{ target_language }}
        </div>
        <div>
            <a href="{{ url_for('index') }}">Try another one!</a>
        </div>
{% endblock %}
